<div class="message message-user">
    <p class="content">我的孙杨关系最好了，平常天天在一起训练，可开心了</p>
</div>
<div class="message message-reply">
    <p class="content">真的假的！</p>
</div>
<br />
<br />
<div class="message message-host">
    <p class="content">真的假的！</p>
</div>
<br />
<br />
<div class="message message-host">
    <p class="content">#小猫和小狗谁更历害#</p>
    <a class="go" href="javascript:void(0)">
        点击参与话题
    </a>
</div>
<br />
<br />
<div class="message message-host">
    <p class="content">上半场进球数会大于2吗？</p>
    <p class="desc">20分钟后停止下注 已有2323人下注 奖金池2323元奖金池2323元奖金池2323元</p>
    <a class="go" href="javascript:void(0)">
        点击参与竞猜
    </a>
</div>
<div class="message message-host">
    <div class="poster">
        <img src="http://image.sports.baofeng.com/558c37407ff0d0d03a26b806b5f5df6a" alt="">
    </div>
    <p class="content">20分钟后停止下注 已有2323人下注 奖金池2323元奖金池2323元奖金池2323元</p>
</div>
<br />
<br />
<div class="message message-host">
    <div class="poster">
        <img src="http://image.sports.baofeng.com/558c37407ff0d0d03a26b806b5f5df6a" alt="">
    </div>
</div>
