<div class="post-detail">
	<div class="portrait widthfootnotes">
		<div class="img-wrapper">
			<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
		</div>
		<div class="wrapper">
			<h2 class="title">马特</h2>
			<span class="tag tag-flat tag-primary">话题主</span>
			<div class="footnote">
				<span class="note">2016-09-11 21:36</span>	
			</div>
		</div>
	</div>
	<div class="content">
		<div class="paragraphs">
			<p class="paragraph"><img alt="" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884"></p>
			<p class="paragraph">北京时间9月11日19：35分，2016赛季中超联赛第24轮继续进行，中超副班长石家庄永昌主场迎战排名第2的江苏苏宁。第30分钟，罗杰-马丁内斯送出妙传，打穿了石家庄永昌的防线，吉翔前插到对方禁区内中路射门得手。第32分钟，特谢拉带球突入到对方禁区内，被李超放倒，主裁判判罚点球。特谢拉亲自操刀主罚命中。第37分钟，毛剑卿远射击中横梁弹出。第39分钟，毛里西奥为石家庄永昌赢得点球，但马修斯点球射偏。第50分钟，洪正好出现失误，毛里西奥单刀破门。第55分钟，特谢拉利用冯绍顺传球失误挑射破门。第69分钟，毛里西奥主罚的点球被顾超挡出。第85分钟，罗杰-马丁内斯突入对方禁区内射门得手。第89分钟，吴曦远射打在姜积弘身上折射破门。第92分钟，特谢拉主罚直接任意球破门。最终，凭借吉翔、特谢拉、罗杰-马丁内斯、吴曦的进球，江苏苏宁客场6-1战胜石家庄永昌。</p>
		</div>
	</div>
</div>
