<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
<div id="navigation" class="navigation-wrap">
    <div class="navigation">
        <ul>
            <li><a href="#" class="active">首页</a></li>
            <li><a href="#">英超</a></li>
            <li><a href="#">西甲</a></li>
            <li><a href="#">德甲</a></li>
            <li><a href="#">意甲</a></li>
            <li><a href="#">欧冠</a></li>
            <li><a href="#">亚冠</a></li>
            <li><a href="#">中超</a></li>
            <li><a href="#">NBA</a></li>
            <li><a href="#">CBA</a></li>
        </ul>
    </div>
</div>
</body>
</html>
