<!-- tab 开始 -->
<div class="tab default">
	<div class="title">
		<a href="#tab-all" class="item-title current">全部</a>
		<a href="#tab-hot" class="item-title">热门</a>
		<a href="#tab-persons" class="item-title">达人</a>
	</div>
	<div class="indicator-wrapper">
		<div class="indicator"></div>
	</div>
	<div class="content" style="left: 0;">
		<div id="tab-all" class="item-content current">aaa<br>aaa<br>aaa<br>aaa<br>aaa<br></div>
		<div id="tab-hot" class="item-content">bbb</div>
		<div id="tab-persons" class="item-content">ccc</div>
	</div>
</div>
<!-- tab 结束 -->

<!-- tab 开始 -->
<div class="tab slide">
	<div class="title">
		<a href="#tab-all" class="item-title current"></a>
		<a href="#tab-hot" class="item-title"></a>
		<a href="#tab-persons" class="item-title"></a>
	</div>
	<div class="indicator-wrapper">
		<div class="indicator current"></div>
		<div class="indicator"></div>
		<div class="indicator"></div>
	</div>
	<div class="content" style="left: 0;">
		<div id="tab-all" class="item-content current">aaa<br>aaa<br>aaa<br>aaa<br>aaa<br></div>
		<div id="tab-hot" class="item-content">bbb</div>
		<div id="tab-persons" class="item-content">ccc</div>
	</div>
</div>
<!-- tab 结束 -->
<!--
	作者：669380499@qq.com
	时间：2016-09-21
	描述：有改动  match－before
-->
<script>
	var tabs = document.querySelectorAll('.tab');
	for(var i = 0, len = tabs.length;i < len;i++) {
		var ta = tabs[i],
			type = 'default';
		if(ta.classList.contains('slide') ) {
			type = 'slide'
		}
		TabFactory({element: tabs[i], type: type})
	}
</script>