<table class="table">
    <caption class="text-center">鲁能</caption>
    <thead>
        <tr>
            <th>球员</th>
            <th>首发</th>
            <th>时间</th>
            <th>得分</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>詹姆斯</td>
            <td>是</td>
            <td>32</td>
            <td>44</td>
        </tr>
        <tr>
            <td>詹姆斯</td>
            <td>是</td>
            <td>32</td>
            <td>44</td>
        </tr>
    </tbody>
</table>
<br />
<br />
<table class="table table-border">
    <caption class="text-center">鲁能</caption>
    <thead>
        <tr>
            <th>球员</th>
            <th>首发</th>
            <th>时间</th>
            <th>得分</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>詹姆斯</td>
            <td>是</td>
            <td>32</td>
            <td>44</td>
        </tr>
        <tr>
            <td>詹姆斯</td>
            <td>是</td>
            <td>32</td>
            <td>44</td>
        </tr>
    </tbody>
</table>
