<!-- 列表项 开始 -->
<div class="list-item">
	<a href="#">
		<div class="wrapper">
			<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局出局出局出局出局</h2>
			<div class="footnote">
				<span class="note">新浪体育</span>
				<span class="note">09-11 21:36</span>	
			</div>
		</div>
	</a>
</div>
<!-- 列表项 结束 -->

<!-- 右侧有图的列表项 开始 -->
<div class="list-item rightimg">
	<a href="#">
		<div class="wrapper">
			<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局</h2>
			<div class="footnote">
				<span class="note">新浪体育</span>
				<span class="note">09-11 21:36</span>	
			</div>
		</div>
		<div class="img-wrapper">
			<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
		</div>
	</a>
</div>
<!-- 右侧有图的列表项 结束 -->

<!-- 图片列表项 开始 -->
<div class="list-item imgs">
	<a href="#">
		<div class="wrapper">
			<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局</h2>
			<div class="img-wrapper">
				<ul class="row">
					<li class="col-4">
						<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
					</li>
					<li class="col-4">
						<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
					</li>
					<li class="col-4">
						<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
						<span class="tag tag-flat tag-primary">3</span>
					</li>
				</ul>			
			</div>
			<div class="footnote">
				<span class="note">新浪体育</span>
				<span class="note">09-11 21:36</span>	
			</div>
		</div>
	</a>
</div>
<!-- 图片列表项 结束 -->

<!-- 右侧正在播放视频的列表项 开始 -->
<div class="list-item rightvideo">
	<a href="#">
		<div class="wrapper">
			<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局</h2>
			<div class="footnote">
				<span class="note">新浪体育</span>
				<span class="note">09-11 21:36</span>	
			</div>
		</div>
		<div class="right-video-wrapper playing">
			<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
			<span class="tag tag-flat tag-primary">播放中</span>
		</div>
	</a>
</div>
<!-- 右侧正在播放视频的列表项 结束 -->

<!-- 右侧视频的列表项 开始 -->
<div class="list-item rightvideo">
	<a href="#">
		<div class="wrapper">
			<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局</h2>
			<div class="footnote">
				<span class="note">新浪体育</span>
				<span class="note">09-11 21:36</span>	
			</div>
		</div>
		<div class="right-video-wrapper">
			<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
		</div>
	</a>
</div>
<!-- 右侧视频的列表项 结束 -->
	
<!-- 视频列表项 开始 -->
<div class="list-item videos">
	<a href="#">
		<div class="wrapper">
			<div class="img-wrapper">
				<ul class="row">
					<li class="col-4">
						<div class="video-wrapper playing">
							<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
							<span class="tag tag-flat tag-primary">播放中</span>
						</div>
						<p class="title">C罗最终绝杀，终场上演帽子戏法</p>
					</li>
					<li class="col-4">
						<div class="video-wrapper">
							<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
						</div>
						<p class="title">C罗最终绝杀，终场上演帽子戏法</p>
					</li>
					<li class="col-4">
						<div class="video-wrapper">
							<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
						</div>
						<p class="title">C罗最终绝杀，终场上演帽子戏法</p>
					</li>
				</ul>			
			</div>
		</div>
	</a>
</div>
<!-- 视频列表项 结束 -->
