<!-- 画像 只有圆形头像 开始-->
<div class="portrait singlephoto">
	<img class="roundimg" src="http://q1.qlogo.cn/g?b=qq&k=EQOOoaEibEXovj72KNtfNrw&s=40&t=1473696000">
</div>
<!-- 画像 只有圆形头像 结束 -->

<!-- 画像 有名字 开始 -->
<div class="portrait withname">
	<div class="img-wrapper">
		<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
	</div>
	<div class="wrapper">
		<h2 class="title">马特</h2>
	</div>
</div>
<!-- 画像 有名字 结束 -->

<!-- 画像 有名字、标签等两行信息 开始 -->
<div class="portrait withfootnotes">
	<div class="img-wrapper">
		<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
	</div>
	<div class="wrapper">
		<h2 class="title">马特</h2>
		<span class="tag tag-flat tag-primary">话题主</span>
		<div class="footnote">
			<span class="note">2016-09-11 21:36</span>	
		</div>
	</div>
</div>
<!-- 画像 有名字、标签等两行信息 结束 -->

