@import "../style/themes/default/index";
@import "../style/mixin";
@import "../button/index";

.paragraphs {
    .paragraph, p {
        $font-spacing: $v-spacing-md;
        line-height: $font-size-paragraph + $font-spacing; /*px*/
        &.indent {
            text-indent: $font-size-paragraph*2; /*px*/
        }
        
        & + .paragraph, & + p {
            margin-top: 18px; /*px*/
            padding-bottom: 18px; /*px*/
        }
        
        font-size: $font-size-paragraph !important; /*px*/
        font-weight: normal;
        color: $color-text-paragraph !important;
        @include text;
        span {
            font-size: $font-size-paragraph !important; /*px*/
        }
    }
    p {
        margin-top: 18px; /*px*/
        padding-bottom: 18px; /*px*/
    }
    img {
        display: block;
        width: 100%;
    }
    video {
        display: block;
        width: 100%;
        & + .button-block {
            margin-top: $v-spacing-sm; /*px*/
        }
    }
}

