<!-- 竞猜 开始 -->
<div class="quiz">
	<div class="tab slide">
		<div class="title">
			<a href="#tab-all" class="item-title current"></a>
			<a href="#tab-hot" class="item-title"></a>
			<a href="#tab-persons" class="item-title"></a>
		</div>
		<div class="indicator-wrapper">
			<div class="indicator current"></div>
			<div class="indicator"></div>
			<div class="indicator"></div>
		</div>
		<div class="tab-content content" style="left: 0;">
			<div id="tab-all" class="item-content current">
				<!-- 问题项 开始 -->
				<div class="question-item">
					<div class="title">
						<h1>上半场比赛比分会大于2吗？</h1>
					</div>
					<div class="content">
						<p>20分钟后下注 已有291人下注 奖金池20000元</p>
					</div>
					<div class="answersheet">
						<div class="answer">
							<a class="button">会</a>
							<div class="footnote">
								<span class="note">79%的选择</span>
							</div>
						</div>
						<div class="answer">
							<a class="button">不会</a>
							<div class="footnote">
								<span class="note">21%的选择</span>
							</div>
						</div>
						
					</div>
				</div>
				<!-- 问题项 结束 -->
			</div>
			<div id="tab-hot" class="item-content">
				<!-- 问题项 开始 -->
				<div class="question-item">
					<div class="title">
						<h1>上半场比赛比分会大于2吗？</h1>
					</div>
					<div class="content">
						<p>20分钟后下注 已有291人下注 奖金池20000元</p>
					</div>
					<div class="answersheet">
						<div class="answer">
							<a class="button">会</a>
							<div class="footnote">
								<span class="note">79%的选择</span>
							</div>
						</div>
						<div class="answer">
							<a class="button">不会</a>
							<div class="footnote">
								<span class="note">21%的选择</span>
							</div>
						</div>
						
					</div>
				</div>
				<!-- 问题项 结束 -->
			</div>
			<div id="tab-persons" class="item-content">
				<!-- 问题项 开始 -->
				<div class="question-item">
					<div class="title">
						<h1>上半场比赛比分会大于2吗？</h1>
					</div>
					<div class="content">
						<p>20分钟后下注 已有291人下注 奖金池20000元</p>
					</div>
					<div class="answersheet">
						<div class="answer">
							<a class="button">会</a>
							<div class="footnote">
								<span class="note">79%的选择</span>
							</div>
						</div>
						<div class="answer">
							<a class="button">不会</a>
							<div class="footnote">
								<span class="note">21%的选择</span>
							</div>
						</div>
						
					</div>
				</div>
				<!-- 问题项 结束 -->
			</div>
		</div>
	</div>

</div>
<!-- 竞猜 结束 -->