<!-- 大字标题 开始 -->
<div class="article-headline">
	<div class="wrapper">
		<h1 class="title">中超-特谢拉帽子戏法 江苏苏宁6-1大胜石家庄永昌</h1>
		<div class="footnote">
			<span class="note">新浪体育</span>
			<span class="note">09-11 21:36</span>	
		</div>
	</div>
</div>
<!-- 大字标题 结束 -->

<!-- 大图背景的大字标题 开始 -->
<div class="article-headline article-headline-img">
	<div class="imgwrapper">
		<img class="img" src="http://c1.hoopchina.com.cn/uploads/star/event/images/160913/dfc5571e220e3497ae18bf739574ec52ed7dd648.jpg" />
	</div>
	<div class="wrapper">
		<h1 class="title">中超-特谢拉帽子戏法 江苏苏宁6-1大胜石家庄永昌</h1>
		<div class="footnote">
			<span class="note">新浪体育</span>
			<span class="note">09-11 21:36</span>	
		</div>
	</div>
</div>
<!-- 大图背景的大字标题 结束 -->
