<!-- 比赛信息 开始 -->
<div class="match-info">
	<h1 class="title">欧冠C组小组赛</h1>
	<div class="time">
		2016年8月25日 周三 19:30开始
	</div>
	
	<div class="teams">
		<div class="team team1">
			<img src="http://image.sports.baofeng.com/07500e1b0d33521f24697a3535e1e47c"/>
			<span class="name">AC米兰</span>
		</div>
		<span class="vs">VS</span>
		<div class="team team2">
			<img src="http://image.sports.baofeng.com/07500e1b0d33521f24697a3535e1e47c"/>
			<span class="name">尤文图斯</span>
		</div>
	</div>
	<div class="operation">
		<a class="button">预约</a>
	</div>
</div>
<!-- 比赛信息 结束 -->
