@import "../style/themes/default/index";
@import "../style/mixin.scss";
@import "../divideline/index";
@import "../grid/index";

.share-third {
    .share-panel {
        @include clearfix;
        margin-top: $v-spacing-lg;
        margin-bottom: $v-spacing-lg;
        .third-img {
            width: 20%;
            float: left;
            box-sizing: border-box;
            text-align: center;
            img {
                width: 88px;
                height: 88px;
                border-radius: 50%;
                border: solid 1px #e5e5e5;
            }
            .third-name {
                @include font-fade-2;
                line-height: 48px;
            }
        }
    }
}
