<!-- 话题卡片 开始 -->
<div class="topic-card">
	<div class="paragraphs">
		<p>在昨天进行的一场中超比赛中，长春亚泰客场1-1战平山东鲁能石家庄永昌在在换帅之后提升客场战绩。曾经效力于江苏苏宁的关震本场比赛首发出场，将迎战旧主。虽然石家庄永昌战绩不佳，但本场比赛上座率依然很高。</p>
		<p><img alt="" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884"></p>

	</div>
	<div class="post-info">
		<div class="post-time"><span>1小时前</span></div>
		<!-- 画像 有名字 开始 -->
		<div class="portrait withname">
			<div class="img-wrapper">
				<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
			</div>
			<div class="wrapper">
				<h2 class="title">马特</h2>
			</div>
		</div>
		<!-- 画像 有名字 结束 -->
	</div>
</div>
<!-- 话题卡片 结束 -->