<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../src/css/components.css">
</head>
<body>

    <div class="navigation" id="navigation">
        <div class="nav-wrap one-row">
            <div class="col-4 logo">
                <a href="http://sports.baofeng.com/"></a>
            </div>
            <div class="col-16">
                <ul class="nav-list" id="nav">
                    <li><a class="active" href="#">首页</a></li>
                    <li><a href="http://sports.baofeng.com/channel/csl/">中超</a></li>
                    <li><a href="http://sports.baofeng.com/channel/european_championship/">欧洲杯</a></li>
                    <li><a href="http://sports.baofeng.com/channel/premiership/">英超</a></li>
                    <li><a href="http://sports.baofeng.com/channel/la_liga/">西甲</a></li>
                    <li><a href="http://sports.baofeng.com/channel/serie_a/">意甲</a></li>
                    <li><a href="http://sports.baofeng.com/channel/bundes_liga/">德甲</a></li>
                    <li><a href="http://sports.baofeng.com/channel/afc/">亚冠</a></li>
                    <li><a href="http://sports.baofeng.com/match/data/1/">比赛</a></li>

                    <li class="nav-active"></li>
                </ul>
            </div>
            <div class="col-4 top-bar">
                <a class="download-app" href="#">
                    下载APP
                    <img src="../src/images/download_app/Qr_code.png" alt="下载APP" />
                </a>
                <span class="login-btn">登录</span>
                <ul class="user-info">
                    <li>小明明</li>
                    <li><a href="javascript:void(0)" class="logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="tmp-title">标题块</h2>
        <!-- default title -->
        <div class="main-title">
            <h2>今日要闻</h2>
            <a class="more" href="#">更多</a>
        </div>
        <!-- /default title -->

        <!-- large title -->
        <div class="main-title">
            <h2 class="large">字号大的标题</h2>
            <a class="more" href="#">更多</a>
        </div>
        <!-- /large title -->

        <!-- tab title -->
        <div class="main-title">
            <h2>带tab选项卡按钮的标题</h2>
            <a class="more" href="#">更多</a>
            <ul class="tab-menu">
                <li><a href="#" class="active">全部</a></li>
                <li><a href="#">西甲</a></li>
                <li><a href="#">欧冠</a></li>
                <li><a href="#">中超</a></li>
                <li><a href="#">亚超</a></li>
            </ul>
        </div>
        <!-- /tab title -->

        <!-- tab title -->
        <div class="main-title">
            <h2>换一批标题</h2>
            <a class="replace" href="#"><i class="loading"></i>换一批</a>
        </div>
        <!-- /tab title -->

        <!-- tab title -->
        <div class="main-title">
            <h2>换一批标题 - 动画</h2>
            <a class="replace" href="#"><i class="loading run"></i>换一批</a>
        </div>
        <!-- /tab title -->

        <h2 class="tmp-title">新闻列表 - 图片</h2>

        <div class="one-row">
            <div class="col-10">

                <div class="media large photo">
                    <span class="bf-mark"></span>
                    <a href="#" target="_blank">
                        <img src="../src/images/tmp_pic_small.png" alt="">
                        <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    </a>
                </div>
                <br />
                <div class="media large photo">
                    <a href="#" target="_blank">
                        <img src="../src/images/tmp_pic_small.png" alt="">
                        <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    </a>
                </div>

            </div>
            <div class="col-8">

                <div class="media medium photo fade">
                    <span class="tag b-red">前瞻</span>
                    <a href="#" target="_blank">
                        <img src="../src/images/tmp_pic_small.png" alt="">

                        <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    </a>
                </div>

            </div>
            <div class="col-6">

                <div class="media small photo">
                    <span class="tag b-blue">集锦</span>
                    <a href="#" target="_blank">
                        <img id="testImg" src="http://image.sports.baofeng.com/96e9beb4f8ce02473e76f2fd08865a16" alt="">

                        <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    </a>
                </div>

            </div>
        </div>

        <h2 class="tmp-title">新闻列表 - 视频</h2>

        <div class="one-row">
            <div class="col-10">

                <div class="media large video">
                    <a href="#" target="_blank">
                        <img src="../src/images/tmp.png" alt="">
                    </a>
                </div>

            </div>
            <div class="col-8">

                <div class="media medium video fade">
                    <a href="#" target="_blank">
                        <img src="../src/images/tmp.png" alt="">
                    </a>
                </div>

            </div>
            <div class="col-6">

                <div class="media small video">
                    <a href="#" target="_blank">
                        <img src="../src/images/tmp.png" alt="">
                    </a>
                </div>

            </div>
        </div>

        <h2 class="tmp-title">视频 - 图文</h2>
        <div class="one-row">
            <div class="col-4">

                <div class="media-video">
                    <a href="#" target="_blank">
                        <div class="cover">
                            <span class="tag"><strong class="tag-blue">集锦</strong><i class="icon-triangle it-blue"></i></span>
                            <span class="play-button large"></span>
                            <img src="../src/images/tmp.png" alt="">
                        </div>
                        <p class="title">反思!登巴巴救护措施简陋折射中超管理水平低下射中超管理水平低下</p>
                    </a>
                </div>

            </div>
            <div class="col-4">

                <div class="media-video">
                    <a href="#" target="_blank">
                        <div class="cover">
                            <span class="tag"><strong class="tag-red">前瞻</strong><i class="icon-triangle it-red"></i></span>
                            <span class="play-button large"></span>
                            <img src="../src/images/tmp.png" alt="">
                        </div>
                        <p class="title">反思!登巴巴救护措施简陋折射中超管理水平低下射中超管理水平低下</p>
                    </a>
                </div>

            </div>
            <div class="col-4">

                <div class="media-video">
                    <a href="#" target="_blank">
                        <div class="cover">
                            <span class="tag"><strong class="tag-purple">全场</strong><i class="icon-triangle it-purple"></i></span>
                            <span class="play-button large"></span>
                            <img src="../src/images/tmp.png" alt="">
                        </div>
                        <p class="title">反思!登巴巴救护措施简陋折射中超管理水平低下射中超管理水平低下</p>
                    </a>
                </div>

            </div>
            <div class="col-4">

                <div class="media-video">
                    <a href="#" target="_blank">
                        <div class="cover">
                            <span class="tag"><strong class="tag-green">节目</strong><i class="icon-triangle it-green"></i></span>
                            <span class="play-button large"></span>
                            <img src="../src/images/tmp.png" alt="">
                        </div>
                        <p class="title">反思!登巴巴救护措施简陋折射中超管理水平低下射中超管理水平低下</p>
                    </a>
                </div>

            </div>
            <div class="col-4">

                <div class="media-video">
                    <a href="#" target="_blank">
                        <div class="cover">
                            <span class="play-button medium"></span>
                            <img src="../src/images/tmp.png" alt="">
                        </div>
                        <p class="title">反思!登巴巴救护措施简陋折射中超管理水平低下射中超管理水平低下</p>
                    </a>
                </div>

            </div>
        </div>

        <h2 class="tmp-title">新闻列表 - 文本</h2>

        <!-- news text list -->
        <ul class="news-text-list">
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">06-12 14:34</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
        </ul>
        <!-- /news text list -->
        <br/>
        <!-- news text list -->
        <ul class="news-text-list animate">
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
            <li>
                <a href="#" target="_blank">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</a>
                <span class="source">虎扑体育</span>
            </li>
        </ul>
        <!-- /news text list -->
        <br />
        <div class="one-row">
            <div class="col-8">

        <!-- news text list -->
        <ul class="news-mixins-list">
            <li>
                <a href="#" target="_blank" class="active">
                    <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    <div class="one-row detail">
                        <div class="col-3 pic"><img src="../src/images/tmp.png" alt=""></div>
                        <div class="col-5 info">
                            <h3>足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</h3>
                            <p class="desc">
                                <span class="time">2016-02-34</span>
                                <img src="../src/images/tmp.png" alt="">尝试策划
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    <div class="one-row detail">
                        <div class="col-3 pic"><img src="../src/images/tmp.png" alt=""></div>
                        <div class="col-5 info">
                            <h3>足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</h3>
                            <p class="desc">
                                <span class="time">2016-02-34</span>
                                <img src="../src/images/tmp.png" alt="">尝试策划
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    <div class="one-row detail">
                        <div class="col-3 pic"><img src="../src/images/tmp.png" alt=""></div>
                        <div class="col-5 info">
                            <h3>足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</h3>
                            <p class="desc">
                                <span class="time">2016-02-34</span>
                                <img src="../src/images/tmp.png" alt="">尝试策划
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    <div class="one-row detail">
                        <div class="col-3 pic"><img src="../src/images/tmp.png" alt=""></div>
                        <div class="col-5 info">
                            <h3>足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</h3>
                            <p class="desc">
                                <span class="time">2016-02-34</span>
                                <img src="../src/images/tmp.png" alt="">尝试策划
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    <div class="one-row detail">
                        <div class="col-3 pic"><img src="../src/images/tmp.png" alt=""></div>
                        <div class="col-5 info">
                            <h3>足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</h3>
                            <p class="desc">
                                <span class="time">2016-02-34</span>
                                <img src="../src/images/tmp.png" alt="">尝试策划
                            </p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <p class="title">足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</p>
                    <div class="one-row detail">
                        <div class="col-3 pic"><img src="../src/images/tmp.png" alt=""></div>
                        <div class="col-5 info">
                            <h3>足总杯大捷引英超灾难 连伤5人枪手恐无缘4强</h3>
                            <p class="desc">
                                <span class="time">2016-02-34</span>
                                <img src="../src/images/tmp.png" alt="">尝试策划
                            </p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <!-- /news text list -->

            </div>
        </div>
</div>

<!-- footer -->
<h2 class="tmp-title">页脚</h2>

<div class="footer">
    <div class="one-row copyright">
        <p>
            <a href="http://home.baofeng.com/licence/icp.html" target="_blank" rel="nofollow">京ICP证070364号</a>
            <a target="_blank" href="http://home.baofeng.com/licence/license.html" rel="nofollow">京网文【2014】0921-221号</a>
            <a target="_blank" href="http://home.baofeng.com/licence/medicine_qual.html" rel="nofollow">互联网药品信息服务资格证书(京)-非经营性-2008-0039</a>
            <a target="_blank" href="http://home.baofeng.com/licence/licence.html" rel="nofollow">广播电视节目制作经营许可证：(京)字第01166号</a>
            <br>
            <a target="_blank" style="text-decoration: none;">京公网安备：11010802020226</a>
            <a target="_blank" href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" rel=nofollow>京ICP备08011423号</a>
            <a target="_blank" href="http://home.baofeng.com/licence/sah.html" rel="nofollow">信息网络传播视听许可证号：0108298</a>
            <a target="_blank" href="http://home.baofeng.com/licence/performance_license.html" rel=nofollow>营业性演出许可证</a>
        </p>
        <p class="service">北京暴风科技股份有限公司 联系电话：010-62309066（工作日10:00—18:00） </p>
    </div>
</div>
<div style="width: 500px; height: 300px; overflow: hidden; background: red;"><img id="test" src="../src/images/icon_demand.png" /></div>
<!-- footer -->
<!-- build:js scripts/lib/jquery.min.js -->
<script src="../src/scripts/lib/jquery-1.12.1.min.js"></script>
<script src="../src/scripts/lib/require.js"></script>
<script src="../src/scripts/lib/jquery.easing.min.js"></script>
<!-- endbuild -->
<script src="../src/scripts/components.js"></script>

<script>

var bw = 500;
var bh = 300;

var img = document.getElementById('test');
$('<img/>').attr('src','../src/images/icon_demand.png').load(function(){
    var w = this.width;
    var h = this.height;

    var new_height,new_width,m;

    //原图的宽高比例大于容器的宽高比例
    if((w/h) > (bw/bh)){
        new_height = bh;
        new_width = w * (bh/h);
        m = (new_width - bw) / 2;

        img.style.width = new_width + 'px';
        img.style.height = new_height + 'px';
        img.style.marginLeft = '-' + m + 'px';
    }else{
        new_width = bw;
        new_height = h * (bw/w);
        m = (new_height - bh) / 2;

        img.style.width = new_width + 'px';
        img.style.height = new_height + 'px';
        img.style.marginTop = '-' + m + 'px';
    }

});
</script>

</body>
</html>
