<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../src/css/components.css">
    <style type="text/css">
        .fluid-1200{
            width: 1200px;
            margin: 0 auto;
            background: #ccc;
        }
        .one-row{
            margin-bottom: 30px;
        }
            
        .one-row div{
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #f90;
        }
        h2{
            text-align: center;
            font-size: 18px;
            margin-bottom: 20px;    
        }
    </style>
</head>
<body>
    <div class="fluid-1200">
        <div class="one-row">
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
            <div class="col-1">col-1</div>
        </div>

        <div class="one-row">
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
            <div class="col-2">col-2</div>
        </div>

        <div class="one-row">
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
            <div class="col-3">col-3</div>
        </div>

        <div class="one-row">
            <div class="col-4">col-4</div>
            <div class="col-4">col-4</div>
            <div class="col-4">col-4</div>
            <div class="col-4">col-4</div>
            <div class="col-4">col-4</div>
            <div class="col-4">col-4</div>
        </div>

        <div class="one-row">
            <div class="col-6">col-6</div>
            <div class="col-6">col-6</div>
            <div class="col-6">col-6</div>
            <div class="col-6">col-6</div>
        </div>

        <div class="one-row">
            <div class="col-1">col-1</div>
            <div class="col-23">col-23</div>
        </div>

        <div class="one-row">
            <div class="col-2">col-2</div>
            <div class="col-22">col-22</div>
        </div>

        <div class="one-row">
            <div class="col-3">col-3</div>
            <div class="col-21">col-21</div>
        </div>

        <div class="one-row">
            <div class="col-4">col-4</div>
            <div class="col-20">col-20</div>
        </div>

        <div class="one-row">
            <div class="col-5">col-5</div>
            <div class="col-19">col-19</div>
        </div>

        <div class="one-row">
            <div class="col-6">col-6</div>
            <div class="col-18">col-18</div>
        </div>

        <div class="one-row">
            <div class="col-7">col-7</div>
            <div class="col-17">col-17</div>
        </div>

        <div class="one-row">
            <div class="col-8">col-8</div>
            <div class="col-16">col-16</div>
        </div>

        <div class="one-row">
            <div class="col-9">col-9</div>
            <div class="col-15">col-15</div>
        </div>

        <div class="one-row">
            <div class="col-10">col-10</div>
            <div class="col-14">col-14</div>
        </div>

        <div class="one-row">
            <div class="col-11">col-11</div>
            <div class="col-13">col-13</div>
        </div>

        <div class="one-row">
            <div class="col-12">col-12</div>
            <div class="col-12">col-12</div>
        </div>

        <div class="one-row">
            <div class="col-13">col-13</div>
            <div class="col-11">col-11</div>
        </div>

        <div class="one-row">
            <div class="col-14">col-14</div>
            <div class="col-10">col-10</div>
        </div>

        <div class="one-row">
            <div class="col-15">col-15</div>
            <div class="col-9">col-9</div>
        </div>

        <div class="one-row">
            <div class="col-16">col-16</div>
            <div class="col-8">col-8</div>
        </div>

        <div class="one-row">
            <div class="col-17">col-17</div>
            <div class="col-7">col-7</div>
        </div>

        <div class="one-row">
            <div class="col-18">col-18</div>
            <div class="col-6">col-6</div>
        </div>

        <div class="one-row">
            <div class="col-19">col-19</div>
            <div class="col-5">col-5</div>
        </div>

        <div class="one-row">
            <div class="col-20">col-20</div>
            <div class="col-4">col-4</div>
        </div>

        <div class="one-row">
            <div class="col-21">col-21</div>
            <div class="col-3">col-3</div>
        </div>

        <div class="one-row">
            <div class="col-22">col-22</div>
            <div class="col-2">col-2</div>
        </div>

        <div class="one-row">
            <div class="col-23">col-23</div>
            <div class="col-1">col-1</div>
        </div>

        <div class="one-row">
            <div class="col-24">col-24</div>
        </div>
    </div>
    <h2>Offset</h2>
    <div class="fluid-1200">
        <div class="one-row">
            <div class="col-23 col-offset-1">col-offset-1</div>
        </div>

        <div class="one-row">
            <div class="col-22 col-offset-2">col-offset-2</div>
        </div>

        <div class="one-row">
            <div class="col-21 col-offset-3">col-offset-3</div>
        </div>

        <div class="one-row">
            <div class="col-20 col-offset-4">col-offset-4</div>
        </div>

        <div class="one-row">
            <div class="col-19 col-offset-5">col-offset-5</div>
        </div>

        <div class="one-row">
            <div class="col-18 col-offset-6">col-offset-6</div>
        </div>

        <div class="one-row">
            <div class="col-17 col-offset-7">col-offset-7</div>
        </div>

        <div class="one-row">
            <div class="col-16 col-offset-8">col-offset-8</div>
        </div>

        <div class="one-row">
            <div class="col-15 col-offset-9">col-offset-9</div>
        </div>

        <div class="one-row">
            <div class="col-14 col-offset-10">col-offset-10</div>
        </div>

        <div class="one-row">
            <div class="col-13 col-offset-11">col-offset-11</div>
        </div>

        <div class="one-row">
            <div class="col-12 col-offset-12">col-offset-12</div>
        </div>

        <div class="one-row">
            <div class="col-11 col-offset-13">col-offset-13</div>
        </div>

        <div class="one-row">
            <div class="col-10 col-offset-14">col-offset-14</div>
        </div>

        <div class="one-row">
            <div class="col-9 col-offset-15">col-offset-15</div>
        </div>

        <div class="one-row">
            <div class="col-8 col-offset-16">col-offset-16</div>
        </div>

        <div class="one-row">
            <div class="col-7 col-offset-17">col-offset-17</div>
        </div>

        <div class="one-row">
            <div class="col-6 col-offset-18">col-offset-18</div>
        </div>

        <div class="one-row">
            <div class="col-5 col-offset-19">col-offset-19</div>
        </div>

        <div class="one-row">
            <div class="col-4 col-offset-20">col-offset-20</div>
        </div>

        <div class="one-row">
            <div class="col-3 col-offset-21">col-offset-21</div>
        </div>

        <div class="one-row">
            <div class="col-2 col-offset-22">col-offset-22</div>
        </div>

        <div class="one-row">
            <div class="col-1 col-offset-23">col-offset-23</div>
        </div>
    </div>
</body>
</html>
