<!-- 列表 开始 -->
<div class="list">
	<ul>
		<li>
			<div class="list-item">
				<a href="#">
					<div class="wrapper">
						<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局出局出局出局出局</h2>
						<div class="footnote">
							<span class="note">新浪体育</span>
							<span class="note">09-11 21:36</span>	
						</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<div class="list-item rightimg">
				<a href="#">
					<div class="wrapper">
						<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局</h2>
						<div class="footnote">
							<span class="note">新浪体育</span>
							<span class="note">09-11 21:36</span>	
						</div>
					</div>
					<div class="img-wrapper">
						<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
					</div>
				</a>
			</div>		
		</li>
		<li>
			<div class="list-item imgs">
				<a href="#">
					<div class="wrapper">
						<h2 class="title">亚冠-惨案!石柯乌龙吕文君红牌 上港0-5全北出局</h2>
						<div class="img-wrapper">
							<ul>
								<li>
									<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
								</li>
								<li>
									<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
								</li>
								<li>
									<img src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
								</li>
							</ul>
						</div>
						<div class="footnote">
							<span class="note">新浪体育</span>
							<span class="note">09-11 21:36</span>	
						</div>
					</div>
					
				</a>
			</div>
		</li>
	</ul>
</div>
<!-- 列表 结束 -->