<!--<div class="video-list">
	<ul>
		<li class="video-item">
			<div class="slide-video-wrapper playing">
				<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
				<span class="tag tag-flat tag-primary">播放中</span>
			</div>
			<p class="title">C罗最终绝杀，终场上演帽子戏法</p>
		</li>
		<li class="video-item">
			<div class="slide-video-wrapper">
				<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
			</div>
			<p class="title">C罗最终绝杀，终场上演帽子戏法</p>
		</li>
	</ul>
</div>-->


	
<!-- Swiper -->
<div class="swiper-container video-list" data-playing="20150302">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-chapter="20150306">
				<div class="slide-video-wrapper playing">
					<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
					<span class="tag tag-flat tag-primary">播放中</span>
				</div>
				<p class="title">C罗最终绝杀，终场上演帽子戏法1</p>
        </div>
        <div class="swiper-slide" data-chapter="20150305">
				<div class="slide-video-wrapper">
					<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
					<span class="tag tag-flat tag-primary">20160503期</span>
				</div>
				<p class="title">C罗最终绝杀，终场上演帽子戏法2</p>
        </div>
        <div class="swiper-slide" data-chapter="20150304">
				<div class="slide-video-wrapper">
					<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
					<span class="tag tag-flat tag-primary">20160503期</span>
				</div>
				<p class="title">C罗最终绝杀，终场上演帽子戏法3</p>
        	
        </div>
        <div class="swiper-slide" data-chapter="20150303">
				<div class="slide-video-wrapper">
					<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
					<span class="tag tag-flat tag-primary">20160503期</span>
				</div>
				<p class="title">C罗最终绝杀，终场上演帽子戏法4</p>
        </div>
        <div class="swiper-slide" data-chapter="20150302">
				<div class="slide-video-wrapper">
					<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
					<span class="tag tag-flat tag-primary">20160503期</span>
				</div>
				<p class="title">C罗最终绝杀，终场上演帽子戏法5</p>

        </div>
        <div class="swiper-slide" data-chapter="20150201">
				<div class="slide-video-wrapper">
					<video webkit-playsinline poster="http://img.28mtv.com//upload/music/201609/12/1473628193.jpg" src="http://downmp413.ffxia.com/mp413/阿兰-一朵云[68mtv.com].mp4"></video>
					<span class="tag tag-flat tag-primary">20160503期</span>
				</div>
				<p class="title">C罗最终绝杀，终场上演帽子戏法6</p>

        </div>
    </div>
</div>




<script>
    var videoListComp = VideoListFactory({element: document.querySelector('.video-list')});
        videoListComp.on('videolist.videoSelect', function (videoInfo) {
            VideoSrcGetter.getSrc(videoInfo).then(function (videoSrc) {
                videoPlayerComp.Parts.videoComp.setSrc(videoSrc);
                videoPlayerComp.Parts.videoComp.play();
            });
        });

</script>

	
	
