@import "../style/themes/default/index";
@import "../style/mixin";
@import "../style/util";

.person{
    dt,dd{
        display: block;
        text-align: center;
    }
    dt{
        position: relative;
        img.avatar{
            width: 110px; /*px*/
            height: 110px; /*px*/
            display: block;
            margin: 0 auto;
            border-radius: 50%;
        }
        .ranking-wrap{
            position: absolute;
            left: 0; bottom: -10px;/*px*/
            width: 100%;
            .ranking{
                min-height: 30px; /*px*/
                padding: 2px 12px; /*px*/
                border-radius: 30px;
                display: inline-block;
                font-size: $font-size-base; /*px*/
                color: $color-text-base-inverse;
                vertical-align: bottom;

                &.first{
                    background-color: #f6c700;
                }

                &.second{
                    background-color: #c4c6c3;
                }

                &.third{
                    background-color: #c78e41;
                }
            }
        }
    }
    dd{
        padding-top: 10px; /*px*/
        h4.name{
            font-size: $font-size-heading;/*px*/
            line-height: $v-spacing-xxl; /*px*/
        }
        p.footnote{
            color: lighten($color-text-base,60%);
            font-size: $font-size-base; /*px*/
            line-height: $v-spacing-lg; /*px*/
        }
    }
}

/*//////////////////////////////////////////////////////////*/

.ranking-demo{
    margin: 40px 0;
    li{
        display: block;
        float: left;
        width: 33%;
    }
}
