@import "../style/themes/default/index";
@import "../style/mixin";

.video::-webkit-media-controls-play-button,
.video::-webkit-media-controls-start-playback-button,
.video::-webkit-media-controls-panel,
.video::-webkit-media-controls {
    display: none!important;
    -webkit-appearance: none;
}

.video {
    width: 100%;
    height: 100%;
    background: #000;
}
