@import "../style/themes/default/index";
@import "../style/mixin";

$width: 540px;
[data-dpr="1"] {
    @media screen and (min-width: 800px) {
        body {
            width: $width; /*no*/
            margin: 0 auto !important;
            background-color: #fff;
        }
    }
}

[data-dpr="2"] {
    @media screen and (min-width: 1600px) {
        body {
            width: $width*2; /*no*/
            margin: 0 auto !important;
            background-color: #fff;
        }
    }
}

[data-dpr="3"] {
    @media screen and (min-width: 2400px) {
        body {
            width: $width*3; /*no*/
            margin: 0 auto !important;
            background-color: #fff;
        }
    }
}

.lazy:not([src^="http://image.sports.baofeng.com"]) {
    width:100%;
    height:422px;
}