<div class="program-profile">
	<div class="portrait withname">
		<div class="img-wrapper">
			<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
		</div>
		<div class="wrapper">
			<h2 class="title">天下足球</h2>
		</div>
	</div>

	<div class="toggle-btn"><i class="fa fa-angle-right fa-lg icon"></i></div>
	
	<div class="paragraphs">
		<p>在昨天进行的一场中超比赛中，长春亚泰客场1-1战平山东鲁能，排名暂时超过了石家庄永昌。石家庄永昌目前积20分排在中超积分榜倒数第1位，而江苏苏宁积44分排在中超积分榜次席。</p>
	</div>
</div>

<script>
	ProgramProfileFactory({
		element: document.querySelector('.program-profile')
	})
</script>