Flask==0.10.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-qiniu==1.1.4
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.1.1
PyMySQL==0.7.2
SQLAlchemy==1.0.12
Werkzeug==0.11.4
argparse==1.4.0
gevent==1.1.0
greenlet==0.4.9
gunicorn==19.4.5
itsdangerous==0.24
meld3==1.0.2
qiniu==6.1.9
requests==2.9.1
supervisor==3.2.3
wsgiref==0.1.2
