<dl class="person">
    <dt>
        <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
        <div class="ranking-wrap">
            <span class="ranking first">第一名</span>
        </div>
    </dt>
    <dd>
        <h4 class="name">查尔斯</h4>
        <p class="footnote">122323互动</p>
    </dd>
</dl>
<dl class="person">
    <dt>
        <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
        <div class="ranking-wrap">
            <span class="ranking second">第二名</span>
        </div>
    </dt>
    <dd>
        <h4 class="name">查尔斯</h4>
        <p class="footnote">122323互动</p>
    </dd>
</dl>
<dl class="person">
    <dt>
        <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
        <div class="ranking-wrap">
            <span class="ranking third">第三名</span>
        </div>
    </dt>
    <dd>
        <h4 class="name">查尔斯</h4>
        <p class="footnote">122323互动</p>
    </dd>
</dl>
<dl class="person">
    <dt>
        <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
        <div class="ranking-wrap">
            <span class="ranking third">第三名</span>
        </div>
    </dt>
    <dd>
        <h4 class="name">查尔斯</h4>
        <p class="footnote">猜赢3题</p>
        <p class="footnote">共获得120金豆</p>
    </dd>
</dl>

<ul class="ranking-demo clearfix">
    <li>
        <dl class="person">
            <dt>
                <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
                <div class="ranking-wrap">
                    <span class="ranking first">第一名</span>
                </div>
            </dt>
            <dd>
                <h4 class="name">查尔斯</h4>
                <p class="footnote">122323互动</p>
            </dd>
        </dl>
    </li>
    <li>
        <dl class="person">
            <dt>
                <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
                <div class="ranking-wrap">
                    <span class="ranking second">第二名</span>
                </div>
            </dt>
            <dd>
                <h4 class="name">查尔斯</h4>
                <p class="footnote">122323互动</p>
            </dd>
        </dl>
    </li>
    <li>
        <dl class="person">
            <dt>
                <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
                <div class="ranking-wrap">
                    <span class="ranking third">第三名</span>
                </div>
            </dt>
            <dd>
                <h4 class="name">查尔斯</h4>
                <p class="footnote">122323互动</p>
            </dd>
        </dl>
    </li>
</ul>
<ul class="ranking-demo clearfix">
    <li>
        <dl class="person">
            <dt>
                <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
                <div class="ranking-wrap">
                    <span class="ranking first">第一名</span>
                </div>
            </dt>
            <dd>
                <h4 class="name">查尔斯</h4>
                <p class="footnote">猜赢3题</p>
                <p class="footnote">共获得120金豆</p>
            </dd>
        </dl>
    </li>
    <li>
        <dl class="person">
            <dt>
                <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
                <div class="ranking-wrap">
                    <span class="ranking second">第二名</span>
                </div>
            </dt>
            <dd>
                <h4 class="name">查尔斯</h4>
                <p class="footnote">猜赢3题</p>
                <p class="footnote">共获得120金豆</p>
            </dd>
        </dl>
    </li>
    <li>
        <dl class="person">
            <dt>
                <img class="avatar" src="http://mat1.gtimg.com/sports/cbaimg/players/270.jpg" alt="">
                <div class="ranking-wrap">
                    <span class="ranking third">第三名</span>
                </div>
            </dt>
            <dd>
                <h4 class="name">查尔斯</h4>
                <p class="footnote">猜赢3题</p>
                <p class="footnote">共获得120金豆</p>
            </dd>
        </dl>
    </li>
</ul>
