<!-- 比赛条 开始 -->
<div class="match-bar">
    <div class="row">
        <div class="col-5 match-footnote">
            AC米兰
            <img class="badge" src="http://image.sports.baofeng.com/1aa30c4d7f1ceee812800679c06a51eb" alt="">
        </div>
        <div class="col-2 match-footnote-score">
            3<em>:</em>0
        </div>
        <div class="col-5 match-footnote">
            <img class="badge" src="http://image.sports.baofeng.com/1aa30c4d7f1ceee812800679c06a51eb" alt="">
            尤文图斯
        </div>
    </div>
    <div class="support row">
        <div class="col-6 text-left">23443</div>
        <div class="col-6 text-right">5652</div>
    </div>
    <div class="progress">
        <div class="home-team bar" style="width: 60%"></div>
        <div class="visiting-team bar" style="width: 40%"></div>
    </div>
</div>
<!-- 比赛条 结束 -->
<br />
<br />
<hr />
<br />
<br />

<div class="match-bar">
    <div class="row">
        <div class="col-5 match-footnote">
            AC米兰
            <img class="badge" src="http://image.sports.baofeng.com/1aa30c4d7f1ceee812800679c06a51eb" alt="">
        </div>
        <div class="col-2 match-footnote-score">
            3<em>:</em>0
        </div>
        <div class="col-5 match-footnote">
            <img class="badge" src="http://image.sports.baofeng.com/1aa30c4d7f1ceee812800679c06a51eb" alt="">
            尤文图斯
        </div>
    </div>
    <div class="progress">
        <div class="home-team bar" style="width: 60%"></div>
        <div class="visiting-team bar" style="width: 40%"></div>
    </div>
</div>
