<div class="reply">
	<div class="portrait widthname">
		<div class="img-wrapper">
			<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
		</div>
		<div class="wrapper">
			<h2 class="title">马特</h2>
		</div>
	</div>
	
	<div class="praise">
		
	</div>
	
	<div class="content">
		<div class="paragraphs">
			<p class="paragraph">范子铭线快攻命中，胡金秋两罚全部命中，贺天举飙中外线3分，两队战成24平。赵大鹏、原帅先后上演2罚全中，赵大鹏一条龙得手，原帅压哨命中2分，中国队首节战罢以32-24领先8分进入到次节。</p>
		</div>
	</div>
	
	<div class="footnote">
		<span class="note">2016-08-15</span>	
		<span class="note">12:34</span>
		<span class="note">124条回复</span>
	</div>
	
</div>

<div class="reply simple">
	<div class="content">
		<p class="paragraph"><span class="name">梅西：</span>这里是在说中国游泳队的事情，你跑错频道了吧，兄弟？！</p>
	</div>
</div>

<div class="reply">
	<div class="portrait widthname">
		<div class="img-wrapper">
			<img class="roundimg" src="http://w.image.sports.baofeng.com/441774c72a5d8eb060995c71a84f4884" />
		</div>
		<div class="wrapper">
			<h2 class="title">马特</h2>
		</div>
	</div>
	
	<div class="praise">
		
	</div>
	
	<div class="content">
		<p class="paragraph">
			<span class="replymark">回复&nbsp;&nbsp;&nbsp;</span><span class="name">梅西：</span>这里是在说中国游泳队的事情，你跑错频道了吧，兄弟？！
		</p>
	</div>
	
	<div class="footnote">
		<span class="note">2016-08-15</span>	
		<span class="note">12:34</span>
		<span class="note">124条回复</span>
	</div>
	
</div>
