.sharePrompt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8)
}

.sharePrompt > img {
    position: absolute;
    top: 0px;
    left: 400px;
}


